.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
    background-color: rgb(66, 60, 60);
    color: white;
    z-index: 1000;
  }
    
  .footer a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
    
  .footer a:hover {
    color: #007bff;
  }
  