.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #111;
  transition: 0.3s;
  padding: 15px;
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  color: white;
}

.close-btn {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-search label {
  color: white;
  margin-right: 10px;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-search input {
  padding: 5px 30px 5px 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.navbar-search input:focus {
  border-color: #66ccff;
}

.search-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #ccc;
}

.search-icon:hover {
  color: #66ccff;
}
