  .navbar {
    position: relative;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hamburger {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    transition: left 0.35s ease;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .sidebar.open {
    left: 0; 
  }
  
  .sidebar-body{
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    color: black;
  }
  .sidebar-body li{
    padding: 1rem;
    font-size: 20px;
  }

  .sidebar-header{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
  }
  .close-btn{
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: #ff6600;
    gap: 0.5rem;
  }

  .close-btn:hover{
    color: #be1414;
  }

  .sidebar-footer{
    padding: 1rem;
    border-top: 1px solid #eee;
    background-color: #fafafa;
  }

  .signout{
    width: 100%;
    padding: 0.75rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out; 
  }
  .signout:hover{
    background-color: #be1414;
  }
  
  .navbar-title {
    font-size: 30px;
    font-weight: bold;
    color: #ff6600;
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
  }
  .navbar-search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 8px;
  }

  .cart-button {
    position: relative;
    background-color: transparent;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ff6600;
    font-size: 30px;
  }
  
  .cart-button .cart-text {
    display: none; 
    font-size: 12px;
    color: #333;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6600;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }
  
  .cart-button:hover .cart-text {
    display: inline-block;
  }
  
  .cart-button:hover {
    color: #be1414;
  }
  .sidebar-header h2 {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ff6600;
  }
  